In [486]:
import pandas as pd
import numpy as np
import seaborn
import matplotlib.pyplot as plt

In [487]:
df = pd.read_csv('attacks.csv', encoding='latin1')
pd.set_option('display.max_columns', None)

In [488]:
dim_original= df.shape # Guardando el shape original antes de limpieza

In [489]:
df.info() # info del DF

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [490]:
df.columns #Columnas

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [491]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [492]:
df.dtypes

Case Number                object
Date                       object
Year                      float64
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                        object
Injury                     object
Fatal (Y/N)                object
Time                       object
Species                    object
Investigator or Source     object
pdf                        object
href formula               object
href                       object
Case Number.1              object
Case Number.2              object
original order            float64
Unnamed: 22                object
Unnamed: 23                object
dtype: object

In [493]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 22.8 MB

In [494]:
nan_cols = df.isna().sum()
columns_with_null= len(nan_cols[nan_cols>0])/len(df.columns) #porcentaje de las columnas que tienen nulos

In [495]:
df.Age.describe() #la serie de edad no nos da la estadÃ­stica porque es un objeto

count     3471
unique     157
top         17
freq       154
Name: Age, dtype: object

In [496]:
df.drop_duplicates(inplace= True) #eliminamos los duplicados

In [497]:
df.shape, dim_original #dimensiones despues de eliminar los duplicados

((6312, 24), (25723, 24))

In [498]:
new_name_columns= []
for i in df.columns:
    new_name_columns.append( i.rstrip())
   
df.columns= new_name_columns

new_name_columns= []

for i in df.columns: 
     new_name_columns.append( i.capitalize())

df.columns= new_name_columns

In [499]:
df.columns

Index(['Case number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (y/n)', 'Time',
       'Species', 'Investigator or source', 'Pdf', 'Href formula', 'Href',
       'Case number.1', 'Case number.2', 'Original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [500]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6312 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case number             6310 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (y/n)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or source  6285 non-null   object
 16  Pdf                     6302 non-null   object
 17  Href formula            6301 non-null   object
 18  Href                    6302 non-null   object
 19  Case number.1           6302 non-null   object
 20  Case number.2           6302 non-null   object
 21  Original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 1.2+ MB

In [501]:
df['Age'].describe()

count     3471
unique     157
top         17
freq       154
Name: Age, dtype: object

In [502]:
case_0 = df[df['Year']== 0.0].index
case_0

df.drop(case_0, axis=0, inplace= True)

In [503]:
df.shape

(6187, 24)

In [504]:
df['Year'].dropna(inplace= True)

In [505]:
df.shape

(6187, 24)

In [506]:
df['Year'].isna().sum()

12

In [507]:
df['Date'] = df['Date'].astype(str) #convertimos la serie de fecha a string para eliminar la palabra reported

In [508]:
dates= [] #eliminamos la palabra reported
for i in df['Date']:
    dates.append(i.replace('Reported', ''))
    
df['Date']= dates

In [509]:
#porcentaje del total de ataques por paÃ­s
df_percentage= df['Country'].value_counts() / 6131*100



df_percentage

USA                         36.078943
AUSTRALIA                   21.562551
SOUTH AFRICA                 9.313326
PAPUA NEW GUINEA             2.120372
NEW ZEALAND                  2.071440
                              ...
NORTH SEA                    0.016311
RED SEA / INDIAN OCEAN       0.016311
BRITISH WEST INDIES          0.016311
ADMIRALTY ISLANDS            0.016311
Between PORTUGAL & INDIA     0.016311
Name: Country, Length: 206, dtype: float64

In [510]:
#Solo el top 3 de paises con mÃ¡s ataques. 

no_country = df[(df['Country']!='USA') & (df['Country']!='AUSTRALIA')& (df['Country']!='SOUTH AFRICA')].index
no_country
df.drop(no_country, axis=0, inplace=True)
df.shape

(4105, 24)

In [511]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4105 entries, 0 to 6176
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case number             4104 non-null   object
 1   Date                    4105 non-null   object
 2   Year                    4104 non-null   float64
 3   Type                    4104 non-null   object
 4   Country                 4105 non-null   object
 5   Area                    4087 non-null   object
 6   Location                4011 non-null   object
 7   Activity                3809 non-null   object
 8   Name                    4043 non-null   object
 9   Sex                     3802 non-null   object
 10  Age                     2589 non-null   object
 11  Injury                  4094 non-null   object
 12  Fatal (y/n)             3741 non-null   object
 13  Time                    2328 non-null   object
 14  Species                 2522 non-null   object
 15  Investigator or source  4094 non-null   object
 16  Pdf                     4105 non-null   object
 17  Href formula            4104 non-null   object
 18  Href                    4105 non-null   object
 19  Case number.1           4105 non-null   object
 20  Case number.2           4105 non-null   object
 21  Original order          4105 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             1 non-null      object
dtypes: float64(2), object(22)
memory usage: 801.8+ KB

In [531]:
#convertimos las columnas a string para hacer un strip method y quitar los espacios de los valores 
df['Area'] = df['Area'].astype(str)

area_ok= []

for i in df['Area']:
    area_ok.append(i.strip())
    area_ok.replace('  Province', ' Province')
    
    
No_spacios = []
data['Area'] = data['Area'].astype(str)
for i in data_copy['Area']:
    a=(i.strip())
    b=(a.replace('  Province',' Province'))
    c=(b.replace('KwaZulu-Natal between Port Edward and Port St Johns','KwaZulu-Natal'))
    No_spacios.append(c)
data['Area'] = No_spacios
#Exportamos para probar
data.to_csv('DataLimpieza99.csv', index=True, sep=';')

AttributeError: 'list' object has no attribute 'replace'